<div class="container">
  <form #f="ngForm">
    <div ngModelGroup="contact" #contact="ngModelGroup">
      <div class="mb-3">
        <label for="firstName" class="form-label-sm">First Name</label>
        <input
          required
          minlength="4"
          maxlength="7"
          ngModel
          name="firstName"
          #firstName="ngModel"
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Enter Your First Name"
        />
        <div
          class="alert alert-danger"
          *ngIf="firstName.touched && !firstName.valid"
        >
          <div *ngIf="firstName.errors?.['required']">
            First Name is required
          </div>
          <div *ngIf="firstName.errors?.['minlength']">
            First name should be minimum
            {{firstName.errors?.['minlength'].requiredLength}} characters.
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="comment" class="form-label">Comment</label>
      <textarea
        class="form-control"
        ngModel
        name="comment"
        id="comment"
        rows="3"
      ></textarea>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="flexCheckDefault"
        ngModel
        name="isSubscribed"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Subscribe to mail list
      </label>
    </div>
    <div>
      <label for="contactMethod">Contact Method</label>
      <select
        ngModel
        name="contactMethod"
        id="contactMethod"
        class="form-select mb-3"
        aria-label="Default select example"
      >
        <option></option>
        <!-- [ngValue]="contact" -->
        <option *ngFor="let contact of contactMethods" [value]="contact.id">
          {{ contact.name }}
        </option>
      </select>
    </div>

    <div>
      <div class="form-check" *ngFor="let contact of contactMethods">
        <input
          ngModel
          class="form-check-input"
          type="radio"
          name="contactMethod"
          id="contactMethod"
          [value]="contact.id"
        />
        <label class="form-check-label" for="contactMethod">
          {{ contact.name }}
        </label>
      </div>
    </div>
    <p>{{ f.value | json }}</p>

    <button type="button" class="btn btn-primary" [disabled]="!f.valid">
      Submit
    </button>
  </form>
</div>
