<div class="container">
  <form #f="ngForm">
    <div ngModelGroup="contact" #contact="ngModelGroup">
      <div class="mb-3">
        <label for="firstName" class="form-label-sm">First Name</label>
        <input
          required
          minlength="4"
          maxlength="7"
          ngModel
          name="firstName"
          #firstName="ngModel"
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Enter Your First Name"
        />
        <div
          class="alert alert-danger"
          *ngIf="firstName.touched && !firstName.valid"
        >
          <div *ngIf="firstName.errors?.['required']">
            First Name is required
          </div>
          <div *ngIf="firstName.errors?.['minlength']">
            First name should be minimum
            {{firstName.errors?.['minlength'].requiredLength}} characters.
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="comment" class="form-label">Comment</label>
      <textarea
        class="form-control"
        ngModel
        name="comment"
        id="comment"
        rows="3"
      ></textarea>
    </div>

    <button type="button" class="btn btn-primary" [disabled]="!f.valid">
      Submit
    </button>
  </form>
</div>
